model_config_list: {
    config: {
    name: "p_net",
    base_path: "/models/p_net",
    model_platform: "tensorflow"
    },
    config: {
    name: "r_net",
    base_path: "/models/r_net",
    model_platform: "tensorflow"
    },
    config: {
    name: "o_net",
    base_path: "/models/o_net",
    model_platform: "tensorflow"
    }
}